body {
    backgorud:rgb(173, 50, 50)
}
 #tudo {
    margin: 77px;
 }
UL{
    list-style-type: none;
    margin: 0px;;
    padding: 0px;;
    background-color: #006400;
    border:150px solid 1px#555;
    width: 1000px;
    
}
 #titulo {
    text-align: center;
    padding:0px;
 }
 #rodape {
    text-align: center;
    padding: 0px;
 }
 #nome1 {
   margin: 0px;;
 }
 #nome2 {
   margin-bottom:20px;
   padding: 0px;;
 }
 #curintia {
    margin: 66px;
 }
 #home {
    text-decoration: none;
 }
 UL li a  {
    text-decoration: none; color: white;
}

